{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1>About This Website</h1>
    <p>Welcome to the website! This platform is designed to help you manage your tasks efficiently and stay updated with the latest tasks in a company or group.</p>
    <h2>Features</h2>
    <ul>
        <li>Task Manager: Help in Tasks to Create, Read, Update ,Delete from that account only.</li>
        <li>New Task: To Add New Tasks from the Login Account.</li>
        <li>All Tasks: Help to Name All Tasks Lists with Date and Time.</li>
        <li>Calendar: To View and manage your tasks and deadlines Accordingly.</li>
    </ul>
    <h2>Mission</h2>
    <p>It helps to provide a simple and effective platform to help individuals and teams stay organized and productive.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions or feedback, feel free to <a href="mailto:contact@website.com">contact us</a>.</p>
</div>
{% endblock %}
